@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    font-family: "Montserrat"
}

.myDropzone{
    background-color: rgb(187, 183, 183);
    height:auto;
    text-align: center;
    padding:3rem;
}


.clickHere{
    text-decoration: underline;
}

.download-file{
    margin:auto;
    height:150px;
    width:150px;
}

.file-structure{
    height:100% !important;
}